@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 180, 180, 180;
  --background-end-rgb: 230, 230, 230;
}

body {
  background: linear-gradient(
    to top right,
    rgb(var(--background-start-rgb), 0.9),
    rgb(var(--background-end-rgb))
  );
}
